* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.top {
    height: 100px;
    background-color: magenta;
}

h1 {
    padding: 35px;
    display: block;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: gray;
}

li a {
    float: left;
    background-color: rgba(128, 128, 128, 0.432);
    display: block;
    padding: 20px;
    text-decoration: none;
    color: rgb(12, 12, 12);
}

li a:hover:not(.active) {
    background-color: black;
    color: white;
}

.active {
    background: black;
    color: wheat;
}

p {
    background-color: palegoldenrod;
    font-size: 30px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    h1 {
        font-size: 5vw;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 900px) {
    ul {
        width: 100%;
        height: auto;
        position: relative;
    }

    li a {
        float: left;
        padding: 15px;
    }
}